// global variables



// colors

$c-primary:       #990528
$c-secondary:     #5d0724
$c-third:         #b01225
$c-dark:          #161616
$c-light:         #b0adaa
$c-lighter:       #e3e3e3

$black:           #000
$white:           #fff


// Fonts
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P)
$press-start-font: 'Press Start 2P', cursive
$font-family-apple: -apple-system-, system-ui, BlinkMacSsystemFont, "Segoe UI"
$font-family-roboto: 'Impact', serif
$font-family-base:         $font-family-apple

$font-small:        .7rem
$font-base:         1rem
$font-large:        1.8rem
$font-xlarge:       2.5rem

$font-weight-normal:  normal
$base-line-height:  1.5rem


//border
$border-width:      1px
$border-radius:     10px


//button

$btn-main-color:    $c-lighter
$btn-primary:       $c-primary
$btn-dark-bg:       $c-dark
$btn-third-bg:      $c-third


// borders

$btn-border-primary: $c-primary
$btn-border-dark:    $c-dark
$btn-border-third:   $c-third

$btn-padding-x:      1rem
$btn-padding-y:      .5rem
$btn-line-height:   $base-line-height
$btn-transition:    all, .2s ease-in-out
